@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Zalando', sans-serif;
}

html, body {
  height: 100%;
}

header {
  height: 5.625rem;
  padding: 0 10rem;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 2.5rem;
    font-weight: 600;
  }

  ul {
    display: flex;
    gap: 2rem;

    li {
      a {
        padding: .5rem;
        font-size: 1.25rem;

        &:hover {
          color: #FFBF00;
        }
      }
    }
  }
}

main {
  
  .chamada {
    height: 37.5rem;
    padding: 0 10rem;
    background-color: #000;
    display: flex;
    gap: 60px;

    .texto-chamada {
      position: relative;
      width: 50%;
      height: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 64px;
        margin: 0 0 32px;

        span {
          color: #FFBF00;
        }
      }

      p {
        font-size: 24px;
        line-height: 1.5;
        color: #b2b2b2;
        margin: 0 0 20px;
      }

      button {
        width: fit-content;
        padding: 16px 32px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(#ffbf00, #f2a50c);
        color: #000;
        cursor: pointer;
        transition: .25s;

        &:hover {
          background: linear-gradient(#d9a302, #d58e00);
        }
      }
    }
    
    .imagem-chamada {
      width: 50%;
      height: fit-content;
      position: relative;

      img {
        width: 100%;
      }
    }
  }
}
